# Next.js
.next/
out/

# Node modules
node_modules/

# TypeScript
*.tsbuildinfo

# Environment variables
.env.local
.env.development
.env.production
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/
